<!-- Navigation -->
<div class="b-nav">
  <li><a class="b-link" href="{{site.baseurl}}/#">home</a></li>
  <li><a class="b-link" href="{{site.baseurl}}/about">about</a></li>
  <li><a class="b-link" href="{{site.baseurl}}/contact">contact</a></li>
  <li><a class="b-link" href="{{site.baseurl}}/curriculum-vitae">CV</a></li>
  <li><a class="b-link" href="{{site.baseurl}}/projects">projects</a></li>
  <!-- <li><a class="b-link" href="{{site.baseurl}}/chem191">CHEM 191</a></li> -->
  <li><a class="b-link" href="{{site.baseurl}}/devel/chem370">CHEM 370</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>

  <!-- Burger-Brand -->
  <a href="#" class="b-brand"></a>
</div>
