<!-- JS -->
<!-- <script src="{{ site.baseurl }}/assets/js/jquery-1.12.0.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.dlmenu.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.goup.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fitvid.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script> -->
<script src="{{site.baseurl}}/assets/js/burger.min.js"></script>
 <script src="https://kit.fontawesome.com/efbc54fa3b.js"></script>