{% if site.footer-links.email %}<a   href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope-square"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a   href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a   href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a   href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-square"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a   href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>{% endif %}
{% if site.footer-links.medium %}<a   href="https://medium.com/{{ site.medium }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-medium"></i></a>{% endif %}
{% if site.footer-links.github-url %}<a   href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a   href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-stack-overflow"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a   href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube-square"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a   href="http://www.flickr.com/{{ site.flickr }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-flickr"></i></a>{% endif %}
<a  href="https://www.wcu.edu/learn/departments-schools-colleges/cas/science-and-math/chemphys/faculty-and-staff/al-fischer.aspx" target="_blank" rel="noopener noreferrer"><i class="fa fa-university"></i></a>
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a>{% endif %}
<div>
<a href="https://creativecommons.org/licenses/by-nc/4.0/">&#169; 2017-2020 </a> | Al Fischer | 
<a href="https://github.com/alphonse/alphonse.github.io/blob/master/README.md"> Site Info </a>
</div>