#navigation-bar {
  overflow: hidden;
  background-color: $white;
  position: fixed;
  top: 0;
  width: 110%;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px solid $white;
  padding: 20px;
  max-width: 900px;
}

/* Navbar links */
#navigation-bar a {
  color: $brown;
  padding: 10px;
	background-color: $white;
  font-weight: normal;
	&:hover {
		color: $gold;
    background-color: white;
    border-bottom: 1px solid $brown;
	}
}

#navigation-bar a.active {
  background-color: white  !important;
  font-weight: bold !important;
  border-bottom: 2px solid $brown;
}

@media only screen and (max-width: 600px) {
  #navigation { 
    font-size: 0;
    border-top: 5px solid $white;
  }
  .fa { font-size: initial; }
}

#navigation {
  overflow: hidden;
  border-bottom: none;
  background-color: $tan !important;
  position: fixed;
  top: 0;
  width: 110%;
  margin-left: 0;
  margin-right: auto;
  border-top: 35px solid $tan;
  padding: 1px;
  max-width: 900px;
  font-size: 14px;
}

/* Navbar links */
#navigation a {
  color: $brown;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
	margin: auto;
	border: 2px solid $wcuLightGray;
	background-color: $veryLightGray;
	border-radius: 10px;
	text-align: center;
	&:hover {
		color: $gold;
    background-color: white;
    border: 2px solid $gold !important;
	}
}
a.active-370
{
  background-color: white  !important;
  color: $purple !important;
  border: 1px solid $purple;
  font-weight: bold !important;
}
@media only screen and (max-width: 900px) {
  #navigation { 
    font-size: 0;
    border-top: 5px solid $tan;
    margin-left: -10px;
  }
  .fa { font-size: initial; }
}
